body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

#chart {
  margin: auto;
  width: 720px;
}

#tooltip {
  position: absolute;
  padding: 8px 12px;
  background: black;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
}
